extends default

block content

  include templates/nav


  
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h4(class=['ui','header','blue'])='Gestión de Calificaciones'
      span='permite consultar,eliminar,editar y eliminar los registros de las Calificaciones y de los estudiantes'
